.features {
  display: flex;
  align-items: center;
  padding: 6rem 0;
  width: 100%;
  color: var(--ifm-color-primary-inverse);
  background-color: var(--ifm-color-primary);
  min-height: calc((100vh - 135px - 100px) / 2);
}
.featureSvg {
  height: 200px;
  width: 200px;
}
